.DS_Store
.svn/

target/
**/target/
*.class

settings.local.xml
settings.xml

db/data/
db/logs/
db/init/*.sql
db/init/*.sql.gz

runtime/*
!runtime/.gitkeep

config/overrides/*
!config/overrides/.gitkeep

*.log
*.tmp
cookies.txt

*.war
*.ear
aspose-*.jar
jpedal*.jar
patch-implementation*.jar
ueditor*.war

Thumbs.db
**/Thumbs.db
*.h2.db
*.h2.db.bak
util/src/main/resources/aspose/*-license.xml
util/src/test/resources/*-license.xml
